/**
 * Reset
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;	border-spacing:0;}
/* Flexible media */
img,object,embed,canvas,video,audio,picture{max-width:100%;height:auto;}

/**
 * Main style
 * 100% = 16px, for em conversion (http://pxtoem.com/)
 */

body { font-size: 100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 150%; }

a { color: #4354D3; outline: none; }
a:hover { color: #666666; }

.wrap { width: 60em; margin: 0 auto; }
.row:after { content: ""; display: table; clear: both; }
.fontified, h1, h2, h3, h4 { font-family: 'Oswald', sans-serif; }

header { box-shadow: 0 0.125em 0.313em #cccccc; padding: 1.250em 0; line-height: 2em; position: fixed; width: 100%; top: 0; background-color: rgba(255,255,255,0.9);}
header select { display: none; margin-left: 1.875em; }
header a { color: #000000; text-decoration: none; text-transform: uppercase; }
header a span { color: #959595; }
header h1 { float: left; font-size: 180%; }
header h1 a:hover { color: #000000; }

header ul.contact { float: right; }
header ul.contact li { display: inline-block; margin-left: 0.938em; }
header ul.contact li a { display: block; width: 32px; height: 32px; text-indent: -9999px; background-image: url(../assets/sprite-contact.png); background-position: 0 0; background-repeat: no-repeat; }
header ul.contact li a.twitter { }
header ul.contact li a.github { background-position: 0 -32px; }
header ul.contact li a.linkedin { background-position: 0 -64px; }

section { margin: 9.375em 0 3.125em 0; }
section ul { list-style-type: disc; margin: 0 0 0 1.125em; }
section ul li { margin: 1.125em 0; }
section p { margin: 1.250em 0; }
section .home ul { list-style-type: none; margin: 0; }
section .home ul li { color: #999999; }
section .home ul.articles li { margin: 1.875em 0; }
section .home ul.articles li a  { font-size: 130%; }
section .home ul li p { margin: 0; font-size: 100%; }
section .home ul li p span { color: #333333; display: inline-block; margin-right: 0.625em; }
section .home ul li p a { color: #777777; }

section h1 { font-size: 150%; color: #000000; margin: 2.5em 0 1.250em 0; }
section h1::before { content: '\2022\2003'; color: #dddddd;}
section h2 { font-size: 130%; color: #333333; margin: 2.5em 0 1.250em 0; }
section h2::before { content: '\2022\2003\2022\2003'; color: #dddddd;}
section h3 { font-size: 120%; color: #555555; margin: 2.5em 0 1.250em 0; }
section h3::before { content: '\2022\2003\2022\2003\2022\2003'; color: #dddddd;}
section h4 { font-size: 110%; color: #666666; margin: 2.5em 0 1.250em 0; }
section h4::before { content: '\2022\2003\2022\2003\2022\2003\2022\2003'; color: #dddddd;}

section .post-top { text-align: center; background: #f5f5f5; padding: 0.625em 0; }
section .post-top h1 { font-size: 200%; }
section .post-top h1::before { content: ''; }
section .post-top p.post-meta { text-align: center; color: #999999; }
section .post-top p.post-meta a { color: #777777; }

section code.highlighter-rouge { background: #f5f5f5; padding: 2px 6px; font-size: 80%; font-family: "Lucida Console", Monaco, monospace;  }
section em { font-style: italic; }

footer .wrap { border-top: 5px solid #e5e5e5; padding: 1.250em 0 3.125em 0; color: #959595; }

/**
 * Syntax highlighting styles
 */

.highlight { border: 2px solid #e5e5e5; padding: 0.625em; font-size: 80%; font-family: "Lucida Console", Monaco, monospace; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BB4444 } /* Literal.String */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: #AA22FF } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00A000 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #B8860B } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.String.Char */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

/**
 * Response bitch
 */

/* Tablet */
@media screen and (max-width: 1024px) {
    .wrap { width: 90%; }
    header h1 { font-size: 150%; }
    header ul { display: none; }
    header select { display: inline-block; }

}
