<footer class="row">
    <div class="wrap">
        &copy; 2015 - <a href="{{ site.baseurl }}/">{{ site.title }}</a> - Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>

    </div>
</footer>

<script type="text/javascript">
 var selects = document.getElementsByTagName('header')[0].getElementsByTagName('select');
 if (selects.length > 0) {
     for (x = 0; x < selects.length; x++) {
         selects[x].addEventListener('change', function () {
             if (this.selectedIndex > 0) {
                 window.location = this.value;
                 return false;
             }
         });
     }
 }
</script>
  </body>
</html>
